<header class = "header">
    <div class="identity">
        <a href="/">
            <img src='/assets/images/logo.svg' alt="elseThrow">
        </a>
    </div>
    <nav class="navigation">
        <ul class="category flex">
            <li class="pr">
                <button class="bt bt-none" onclick="window.open('https://github.com/jaycobcoder')">Github</button>
            </li>
            <li class="pr">
                <button class="bt bt-none" onclick="window.open('https://www.linkedin.com/in/%EC%A0%95%EA%B4%91-%EB%B0%B1-50586b254/')">Linkdin</button>
            </li>
            <li class="pr">
                <button class="bt bt-none" onclick="window.location.href='/feed.xml'">RSS</button>
            </li>
            <li>
                <button class="bt bt-none" onclick="window.location.href='/search'">검색</button>
            </li>
        </ul>
    </nav>
</header>